audio/*
css/game.css
data/Map*
data/Actors.json
data/Armors.json
data/Weapons.json
data/Test*
effects/*
fonts/*
icon/*
img/battlebacks1/*
img/battlebacks2/*
img/characters/*
img/enemies/*
img/faces/*
img/parallaxes/*
img/pictures/*
img/sv_actors/*
img/sv_enemies/*
img/system/*
img/titles1/*
img/titles2/*
js/libs/*
js/main.js
node_modules/*
src-tauri/icons/*
src-tauri/target/*
save/*
game.rmmzproject
index.html
memo.txt
LICENSE
