node_modules/*
project/audio/*
project/css/game.css
project/effects/*
project/fonts/*
project/icon/*
project/img/battlebacks1/*
project/img/battlebacks2/*
project/img/characters/*
project/img/enemies/*
project/img/faces/*
project/img/parallaxes/*
project/img/pictures/*
project/img/sv_actors/*
project/img/sv_enemies/*
project/img/system/*
project/img/titles1/*
project/img/titles2/*
project/js/libs/effekseer.wasm
project/js/libs/localforage.min.js
project/js/libs/pako.min.js
project/js/libs/pixi.js
project/js/main.js
project/save/*
project/game.rmmzproject
project/index.html
dist/*